img{
    max-width: 300px;
    max-height: 200px;
  }
.jumbotron{
    font-family: 'Skranji', cursive;
    text-align: center;
    height: 250px;
    font-size: 30px;
    border: 5px solid black;
  }
.container{
    width:1008px;
  }
.image{
    float:right;
    text-align: center;
    padding: 10px;
    width:400px;
    margin-right: 45px;
  }
  .newgame{
    float:left;
    padding: 10px;
    margin-left: 50px;
  }
  .game{
    width:950px;
    display: none;
  }